services:

  db:
    image: postgres:14
    env_file:
      - .env
    restart: always
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build: ./backend
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "3001:3001"
    restart: always
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    restart: always
    networks:
      - app-network
volumes:
  db-data:

networks:
  app-network:
