name: Build and Test Containers

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build backend image
        run: docker build ./backend -t backend-test

      - name: Build frontend image
        run: docker build ./frontend -t frontend-test
